DISCORD_TOKEN=
PREFIX=
# Database (before rewrites)
MONGODB=
# API keys
CATAPI=
DOGAPI=
TWITTER=
# request makesweet creator for this
MAKESWEET=
GENIUS=
SPOTIFY_CLIENT=
SPOTIFY_SECRET=
CF_AI_TOKEN=
CF_AI_ACC=
# Guild configs
GUILDID=
SUGGESTIONS_CHANNEL=
MODLOGS_CHANNEL=
JOINSANDLEAVES_CHANNEL=
SOCIALS_CHANNEL=
GIVEAWAYS_CHANNEL=
MCFORM_CHANNEL=
CHATGPT_CHANNEL=
T_CHANNEL=

NODE_ENV=development